[Desktop Entry]
Version=1.0
Type=Application
Name=TOS UI
Comment=TOS Robotic Application - User Interface
Exec=TOS_APP_ROOT/applications/tos_ui/tos_ui.sh
Icon=TOS_APP_ROOT/applications/tos_ui/static/tos_logo.jpg
Terminal=tr
StartupNotify=true
Categories=Engineering;
Keywords=robot;UI;interface;TOS;automation;
StartupWMClass=tos-ui
